/ejemplos/Ejemplo1/nbproject/private/
/ejemplos/Ejemplo1/build/
/ejemplos/Ejemplo2/nbproject/private/
/ejemplos/Ejemplo2/build/
/ejemplos/Ejemplo3/nbproject/private/
/ejemplos/Ejemplo3/build/
/ejemplos/Ejemplo4/nbproject/private/
/ejemplos/Ejemplo4/build/
/ejemplos/Ejemplo5/nbproject/private/
/ejemplos/Problema3/Ejemplo5/build/